


.banner { }




@cprivate : #F2682C; // orange de private
@cpublish : #45C1B4; // vert de publication
@caction : #EB2C37; // un rouge


@phone-only:    ~"only screen and (max-width: @{screen-xs-max})";
@tablet:    ~"only screen and (min-width: @{screen-tablet})";
@tablet-only:    ~"only screen and (max-width: @{screen-sm-max})";
@desktop:    ~"only screen and (min-width: @{screen-desktop})";
@ldesktop:    ~"only screen and (min-width: @{screen-lg-desktop})";


a {
	color: @text-color;
}

a:hover {
	color: #f16f2d;
	text-decoration: none;
}



hr {
	border-top: 1px solid #ddd;
}



body {
	background-color: #F9F9F9;

	transition: background-color .8s;

	&.is-edition {
		background-color: #EFEFEF;
	}
}


/*******************************************************************
	NAVBAR
*********************************************************************/

.navbar-default {

	background-color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;

	.navbar-container {
		width: 90%;
		margin: 0 auto;
	}


	@media @tablet-only {
		padding: 0 20px;
	}

}

.navbar-header {

	text-align: center;

	.navbar-brand {

		display: block;

		color: #000;

		float: none;

		width: 100%;
		text-align: left;

		padding-top: 5px;

		padding-bottom: 5px;


		svg {
			width: 200px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;

			@media @phone-only {
				width: 140px;
			}

			.js & {
				opacity: 0;
			}

			rect,path, circle, polyline {
				transform-origin: 50% 50%;

			}
		}

		.lopendocInstance {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.navbar-header {
  .make-sm-column( 7);
}

.navbar-default .navbar-collapse {
  .make-sm-column(5);
	float: right;

  .actionsContainer {
		.make-row;

		.actions {
			.make-sm-column(12);
		}
	}
}








/*******************************************************************
	WRAPPER
*********************************************************************/


/*******************************************************************
	COMMUN à tous les elements
*********************************************************************/

.main {
  .make-sm-column(@main-sm-columns);
  margin-top: 60px;

/*
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
*/
}

.gmail_signature {
	display: none;
}



#wideView {
	width: 90%;
	margin: auto;

	.clearfix;
}

.topIcons	> * {
	cursor: pointer;
	display: inline-block;
	padding: 4px 2rem;
	background-color: #fff;
	transition: all .4s;

	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}

.refresh-postie {
	&.is-loading {
		background-color: rgb(235, 44, 55);
		color: white;
	}
}

body {

	&:after {
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1100;
		background: rgba( 0, 0, 0, 0.8);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s

	}

	&.is-overlaid:after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
}

.popover {

	display: block;
	position: fixed;
	max-width: 900px;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: left, top, width;
	z-index: 1200;

	visibility: hidden;

	overflow-y: scroll;

	&.is-visible {
		visibility: visible;
	}

	.spinner {
		position: absolute;
	  top: 0;
		right: 0;
		margin: 10px;

	}

	&.is-loading {
		.spinner {
			opacity: 1;

		}
	}

	&.is-visible .login {
		visibility: visible;
		padding:20px;
	}

}

.spinner {
  width: 20px;
  height: 20px;
  opacity: 0;

  position: relative;
  margin: 100px auto;

  transition: opacity .4s ease-out;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: @cprivate;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	background-color: @cpublish;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



.action-button {
	list-style: none;
	padding: 0;

	margin: 10px 0;

	text-align: right;

	li {

		display: inline-block;
		border-radius: 0.25em;
		padding: 0 1em;
		margin: 0;
		height: 35px;
		line-height: 36px;

		cursor: pointer;

		text-align: center;
		color: #000;

		-webkit-font-smoothing: antialiased;

		background-color: #eee;
	}

}


.post {
	a {
		color: #f16f2d;
	}

	.thumbnail {
		border: none;

		img {
			margin: 0;
		}

	}
}


/*******************************************************************
	HOME / wideCol
*********************************************************************/

.page-template-template-page-accueil {

	.colTitle {
		padding: 2rem;
		margin-left: 1rem;
		margin-bottom: 2rem;

	}

	.topIcons {
		padding: 2rem 0;
		margin-left: 1rem;
		font-size: 14px;

		@media @phone-only {
			margin: 0;
		}
	}


	.colonneswrappers {

		width: ~"calc(25% - 4rem)";
		font-size: 14px;


		@media @tablet-only {
			width: ~"calc(50% - 2rem)";
		}
		@media @phone-only {
			width: 100%;
			margin: 0;
		}


		float: left;
		vertical-align: top;

		max-height: 600px;
		overflow: hidden;

		margin-right: 1rem;
		margin-left: 1rem;
		margin-bottom: 4rem;


		padding-left: 0px;
		padding-right: 0px;
		padding: 2rem;
		padding-top: .95rem;
		min-height: 150px;
		//border-left: 1px solid #eee;

		background-color: #fff;

		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

	}

	.post {
		margin: 0;
		width: 100%;
		padding:1rem;
		padding-left: 0;


	}

	.titreProjet {
		cursor: pointer;

		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
	}

}




/*******************************************************************
	HOME d'un projet : taxProj
*********************************************************************/

.page-header {
	margin: 0;

}

.descriptionContainer section.post {
	width: 100%;
	margin-left: 0 !important;
}

.projetContainer {

	.container;
	padding-top: 70px;
	padding-bottom: 30px;


	.colTitle, .topIcons {
		.make-row;
		margin-left: 29.2%;
	}


	.colTitle .entry-title {
		.make-sm-column(9);

		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: bold;
		color: #000;

		padding: 4px 2rem;
		margin-left: 0;

	}

	.post {
		.make-sm-column(9);
	}

	.colTitle {

		h3 {
			margin: 7px;
			font-size: 1.3em;

		}


	}

	.topIcons {
		margin-bottom: 2rem;

	}

}

.viewport {
	height: 800px;
	height: 100vh;
	overflow: scroll;
}

// si pas logged-in /////////////////////////////////////////////////////
.button-right {
	display: none;

}

// si loggedin ///////////////////////////////////////////////////////////
.logged-in {

	.button-right {

		display: inline-block;
		position: absolute;

		font-size: 0;

		right: 0;
		z-index: 1;

		.icons {

			width: 53px;
			height: 53px;
			padding: 10px;

			margin: 0;

			overflow: visible;

			transition: all 1s;


			&:hover {
				fill: #4aff93;
			}

			&.is-disabled {
				width: 0px;
				height: 0px;
				opacity: 0;
				padding: 0;
			}

			.remove-post {

			}

		}
	}

}



////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.descriptionContainer {

	.clearfix;
	position: relative;
	top:0;

	margin-bottom: 0;

	transition: margin-bottom .8s ease-out;

}

////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.postContainer {

	.clearfix;
	position: relative;
	top:0;

	margin-bottom: 0;

	transition: margin-bottom .8s ease-out;

}

////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.post {

	transition: opacity .5s ease-out, margin-left .5s ease, max-height 1s ease-out, padding .5s;

	img {
		max-width: 100%;
		height:auto;
		max-height: 400px;
		width: auto;

		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.entry-stuff {

		.make-row;
		border-radius: 0px;
		background-color: transparent;

		transition: box-shadow 1s ease-out, background-color 1s ease-out;

		.is-edition & {
			border-radius: 5px;
			background-color: #fff;
		}

		.entry-meta {

			.make-sm-column(2);

			text-align: left;
			text-transform: uppercase;

			font-size: 13px;
			text-align: left;
			text-transform: none;

			padding: 1.7rem 1rem 0 2rem;

			> * {
				display: block;
			}

			.icons {
					width: 24px;
					height: 24px;
					margin-top: 8px;
			}
			.tags {

				&.is-disabled {
				 opacity: .4;

					.tag-icon {
						cursor: auto;
						path {
						}
					}

				}
				.tag-icon {
				}
				.tag-list {
					a.tag-link {
						display: block;

					}
				}
			}

			.comments {

				&.is-disabled {
				 opacity: .4;

					.comment-icon {
						cursor: auto;
						path {
							fill: #ccc;
						}
					}

					.comments-link a {
						color: #ccc;
						pointer-events: none;
						cursor: auto;
					}
				}

				.comment-icon {
				}
				.comments-link a {
					color: #2B7EC2;
				}
			}
		}

		.entry-title-and-content {

			.make-sm-column(10);
			padding: 2rem;
			padding-top: .95rem;

			min-height: 200px;
			max-height: 3920px;
			overflow: auto;

			.entry-title {

				width: 90%;
				font-size: 3rem;

				margin: 0;
				margin-bottom: 1rem;

				font-weight: 700;

			}

			.fee-content-original {
				display: none;
			}
		}
	}

	.entry-title-and-content {
		padding: 1rem 2rem;
		margin: 1rem 0;
		border-left: 1px solid #eee;
	}

	// si en cours d'édit
	&.is-edited {

		iframe {

			min-height: 90vh;


		}


		.edit-post {
			transform: rotate(180deg);

		}


	}

	&.is-removing .entry-stuff{
		background-color: #999;
	}

}

.publish-private-post {

	margin-top: 3px;
	margin-bottom: 3px;

	margin-left: 12.9%;
	margin-left: 0;

	width: 91.6%;

	position: absolute;
	height: 97%;
	height: ~"calc(100% - 6px)";

	border-radius: 5px;
	cursor: pointer;

	overflow: hidden;

	opacity: 0;

	transition: opacity .6s ease-out, background-color .4s ease-out;

/*
	&[data-status=private] {
		border: 1px solid @cpublish;

		&:hover {
//				background-color: @cpublish;
		}
	}
	&[data-status=publish] {
		border: 1px solid @cprivate;

		&:hover {
//				background-color: @cprivate;
		}
	}
*/

	.icons {

		position: relative;
		margin-bottom: 0px;
		margin-bottom: 5px;
		display: block;
		width: 100%;

		svg {
			overflow: visible;
			height: 38px;
			position: absolute;
		}

		.fond {
			transform-origin: 50% 50%;
			transition: transform .4s ease;
		}
	}


	.mode-switcher:hover {
		.fond {
			transform: scale( 30 );

		}
	}


	.mode-switcher {
		position: absolute;
		width: 20%;
		height: 100%;
		padding:10px;
		text-align: center;

		top: 0;


	}


	// celui de gauche
	.private {
		left:0;
		text-align: left;
		color: @cprivate;

		.icons svg {
			left: 0;
		}
	}

	// celui de droite
	.publish {
		right: 0;
		text-align: right;
		color: @cpublish;

		.icons svg {
			right: 0;
		}

	}

}


// si pas édition
.taxProj {

	.post[data-status=publish] {
		.make-sm-column-offset(2);
	}


	.js & .post[data-status=private] {
		max-height: 0;
		min-height: 0;
		margin: 0;
		opacity: 0;
	}

}



// si vu édition ///////////////////////////////////////////////////////////
.is-edition {



	.switch-edition {
		background-color: @cpublish;
		color: white;
	}


	.taxProj {

		.postContainer {

			margin-bottom: 55px;

		}


		.entry-stuff {
	/*
			-moz-box-shadow: 3px 1px 15px 1px #cfcfcf;
			-webkit-box-shadow: 3px 1px 15px 1px #cfcfcf;
			-o-box-shadow: 3px 1px 15px 1px #cfcfcf;
			box-shadow: 3px 1px 15px 1px #cfcfcf;
	*/


			box-shadow: 3px 3px 15px 1px #d4d4d4;

		}

		.entry-title-and-content {
			/*border: 2px solid #E6E6E6;*/
		}

		.publish-private-post {
			opacity: 1;
		}

		.post {

			// si privé
			&[data-status=private] {

				opacity: 1;
				max-height: 4048px;
				height: auto;

			}


			&[data-status=private] {

			}
		}
	}
}



/* EDIT FEE */

.fee-toolbar {
	bottom: 0px !important;
	border: none;
	background: transparent;
	box-shadow: none;
}

.wp-core-ui {

	[for="fee-post-status"] {
		display: none;
	}

	[for="fee-post-visibility"] {
		display: none;
	}

	[data-dismiss="modal"] {
		padding:5px;
	}

}



/*
// BOUTONS PUBLICATIONS

.fee-publish-options-dropdown {
	display: block;
	border: 0;
	background-color: transparent;
	position: fixed;
	top:0;
	right: 10px;
	height:50px;
}

.fee-post-visibility {
	position: absolute;
}

.fee-toolbar {
	border: 0;
	background-color: transparent;
	position: fixed;
	top:40px;
	left:0;
	right: -10px;
	width:130px;
	height: 50px;
}

.fee-toolbar-right .fee-button-categories, .button-group .fee-publish-options,#fee-post-author, #fee-post-status, .dashicons {
	display: none;
}
*/


/************************* COMMENTAIRE ****************************/

#comments {
	display: none;
}

/************************* ICONES ****************************/

.icons {
	width: 38px;
	height: 38px;
	cursor: pointer;
}


// pendant le chargement public/private
.is-loading {

	.publish-private-post {

		&[data-status=private] {
			opacity: .4;
		}
		&[data-status=publish] {
			opacity: .4;
		}
	}
}



// tous les posts, partout

.post {

	position: relative;

	.entry-content {
		iframe {
			max-width: 100%;
			max-height: 400px;

		}


	}

	&.hidden {
		display: none;
	}

	a {

		img {
			transition: opacity 2s;
		}
		&.is-loading img {
			opacity: .8;
		}

	}
/*
	.edit-frame {
	  min-height: 600px;
	}
*/

}


/*******************************************************************
	APPEL IFRAME : SINGLE
*********************************************************************/


.iframe.single-post {

	background-color: #fff;

	.main {
		margin-top: 0;
		margin-bottom: 80px;
	}

	.navbar {
		display: none;
	}

	.button-right {
		display: none;
	}

	.publish-private-post {
		display: none;
	}

	.entry-meta {
		display: none;
	}

	.post {
		margin:0;
		width: 100%;
	}

	.entry-title-and-content {
		padding:0;
		margin:0;
		border: none;

		.entry-title {
			width: 80%;

		}
	}

	.sidebar {
		display: none;
	}

	&:not(.show-editor) {
		.fee-toolbar {
			display: none;
		}
	}

	#fee-notice-area {
		position: fixed;
		top: 50px;
		right: 0;
		left: auto;
		width: 300px;
		height: 50px;
		z-index: 10000;
	}

	.fee-url {
		display: none !important;
	}

	.wp-core-ui div.updated {

		body.publish& {
			border-left: 4px solid @cpublish;
			background-color: rgba(69,193,180, .4);
		}
		body.private& {
			border-left: 4px solid @cprivate;
			background-color: rgba(242, 104, 44,.4);
		}
	}

}



/*******************************************************************
	APPEL IFRAME : NEW POST
*********************************************************************/

.new-post {

	body& {
		padding:20px;
	}

}



/*******************************************************************
	TEMPLATE TAG-COLUMN
*********************************************************************/


.page-template-template-tagcolumn-php {
	.main {

		width: 20000px;
		margin-left: 5%;

	  .colonnes {
			display: inline-block;
			width: 400px;
			margin-right: 30px;
			vertical-align: top;

			.page-header {

					border-bottom: 1px solid #fff;
					padding-left: 0;
					margin-left: -13px;
					margin-right: -10px;

					.titreProjet {
						display: inline-block;

						a {
							color: #333;

							&:hover {
								color: #666;
							}
						}

					}
					.count {
						display: inline-block;
						.h2;
						color: @cpublish;
						font-size: 23px;
						margin-right: 7px;
						width: 26px;
						text-align: center;
					}
			}

			article {
					padding-bottom: 20px;
					overflow: hidden;
					border-left: 2px solid @cpublish;

	// 					margin-left: -10px;
					padding-left: 20px;
					padding-bottom: 0;

					.entry-title {
					}

			}
		}
	}
}

/*******************************************************************
	Ajax login field
*********************************************************************/


.login {
	visibility: hidden;
	//.make-sm-column(6);
}

//champ d'inscription
.lwa-modal {
	z-index: 1202;

}

// fond assombri
.lwa-modal-bg {
	z-index: 1201;

}

// champ dans la navbar
.lwa {

	z-index: 1010;

	border-bottom: 1px solid #E6E6E6;
	background-color: #fff;

/*
	background: #F6F6F6;
	-moz-box-shadow: 1px 1px 10px -1px #656565;
	-webkit-box-shadow: 1px 1px 10px -1px #656565;
	-o-box-shadow: 1px 1px 10px -1px #656565;
	box-shadow: 1px 1px 10px -1px #656565;
*/


	h3 {
		font-size: 1em;
		text-decoration: underline;
		margin-top: 5px;
		display: none;
	}

	input[type="submit"] {
		border-radius: 2px;
		border: none;
		background-color: #FFF;
	}

	.lwa-submit-button {
		padding-top: 2px;
	}
	.avatar {
		display: none;
	}

}









/*******************************************************************
	FOOTER
*********************************************************************/

.content-info { }
