

@cprivate : #FB7833; // orange de private
@cpublish : #45C1B4; // vert de publication
@caction : #EB2C37; // un rouge
@cfond: #F9F9F9;
@cgrey: #eee;


@phone-only:    ~"only screen and (max-width: @{screen-xs-max})";
@tablet:    ~"only screen and (min-width: @{screen-tablet})";
@tablet-only:    ~"only screen and (max-width: @{screen-sm-max})";
@desktop:    ~"only screen and (min-width: @{screen-desktop})";
@ldesktop:    ~"only screen and (min-width: @{screen-lg-desktop})";


a {
	color: @cprivate;
}

a:hover, a:focus {
	text-decoration: none;
	color: @caction;
}



hr {
	border-top: 1px solid #ddd;
}

small,.small {
  font-size: 80%;
}


body {
	background-color: @cfond;

	transition: background-color .8s;

	&.is-edition {
		background-color: #EFEFEF;
	}
}

.vaMid2014 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}


.makeToolTipColored( @color) {
	[data-toggle-tooltip-color="@{color}"] {

		& + .tooltip > .tooltip-arrow {
			[data-placement="left"]& {
				border-left-color: @color;
			}
			[data-placement="top"]& {
				border-top-color: @color;
			}
			[data-placement="bottom"]& {
				border-bottom-color: @color;
			}
			[data-placement="right"]& {
				border-right-color: @color;
			}
		}
	}
	[data-toggle-tooltip-color="@{color}"] + .tooltip > .tooltip-inner {background-color: @color;}
}
.makeToolTipColored( #293275);
.makeToolTipColored( #f2682c);
.makeToolTipColored( #ef474b);
.makeToolTipColored( #fcb421);
.makeToolTipColored( #fbb41d);


*::selection {
  background: @cgrey;
}
*::-moz-selection {
  background: @cgrey;
}
*::-webkit-selection {
  background: @cgrey;
}


#doorbell-button {
	right:0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

  padding: 10px;

  z-index: 	999;
}

label#doorbell-feedback-label {
    font-size: 18px;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 1em;
}

.wrap {
	.container;
	margin-top: 80px;
}

body:not( .superadmin) .thisGrid {
	display: none !important;
}


/*******************************************************************
	NAVBAR
*********************************************************************/


.navbar-default {

	background-color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;

	.navbar-container {
		.container;

		.navbar-row {

			.make-row;

			.navbar-header {
				.make-md-column(8);
				height: 	65px;

				.navbar-brand {
					.make-row;
					display: block;

					#logo_opendoc {
						.make-sm-column(3);
						.vaMid2014;
					}
					.lopendocInstance {
						.make-sm-column-push(3);
						.make-sm-column(4);
						.vaMid2014;
					}
					.lopendocProjet {
						.make-sm-column-push(7);
						.make-sm-column(4);
						.vaMid2014;
					}

				}

			}

			.navbar-collapse {
			  .make-sm-column(4);

			  .actionsContainer {
					.make-row;

					.actions {
						.make-sm-column(12);
						padding-right: 	0;
					}
				}
			}

		}

	}





	@media @tablet-only {
	}

}

.navbar-brand {

  font-size: 16px;
  line-height: 18px;

	font-size: 16px;
	line-height: 18px;
	height: auto;
	min-height: 50px;


	#logo_opendoc {


		@media @phone-only {
			width: 140px;
		}
	}
	.lopendocInstance {
		border-left: 1px solid @cgrey;
	}
	.lopendocProjet {
		border-left: 1px solid @cgrey;
	}


	.lopendocInstance {
		display: inline-block;
		vertical-align: middle;
		max-width: 360px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lopendocProjet {
		display: inline-block;
		font-weight: bold;
		vertical-align: middle;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}


.timelineContainer {

	body:not(.is-edition) & [data-status=private] {
		display: none;
	}
}


.bxshd-buttons {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

	&:hover {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	}
}

/*******************************************************************
	WRAPPER
*********************************************************************/


/*******************************************************************
	COMMUN à tous les elements
*********************************************************************/

.content {
}
.main {
	.make-row;
}

.gmail_signature {
	display: none;
}



.topIcons	> * {
	cursor: pointer;
	display: inline-block;
	background-color: #fff;
	transition: all .4s;

	margin: 0;
	padding: @grid-gutter-width/2;

	.bxshd-buttons;

}

.refresh-postie {
	&.is-loading {
		background-color: rgb(235, 44, 55);
		color: white;
	}
}

body {

	&:after {
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1100;
		background: rgba( 0, 0, 0, 0.8);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s

	}

	&.is-overlaid {
		overflow: hidden;
	}

	&.is-overlaid:after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
}

.popover {

	display: block;
	position: fixed;
	max-width: 900px;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: left, top, width;
	z-index: 1200;

	visibility: hidden;

	overflow-y: scroll;

	&.is-visible {
		visibility: visible;
	}

	.spinner {
		position: absolute;
	  top: 0;
		right: 0;
		margin: 10px;
	}

	&.is-loading {
		.spinner {
			opacity: 1;
		}
	}

	.popoverContainer {
		padding:@grid-gutter-width;

		.embed-responsive {
			margin: -@grid-gutter-width;
		}
	}

	// rendre tous les contenus de popoverContainer block
	.popoverContainer > * {
		display: block !important;
	}

	h3 {
		margin-top: 0;
	}


}

.spinner {
  width: 20px;
  height: 20px;
	opacity: 0;

  position: relative;

  transition: opacity .4s ease-out;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: @cprivate;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	background-color: @cpublish;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



.action-button {
	list-style: none;
	padding: 0;

	margin: 15px 0 5px 0;

	padding-right: 	0;

	text-align: right;

	li {

		display: inline-block;
		border-radius: 0.25em;
		padding: 0 1em;
		margin: 0;
		margin-right: @grid-gutter-width/2;
		margin-bottom: 5px;
		height: 35px;
		line-height: 36px;

		cursor: pointer;

		text-align: center;
		color: #000;

		-webkit-font-smoothing: antialiased;

		background-color: @cgrey;
	}

}


.post {
	a {
		color: #f16f2d;
	}

	.thumbnail {
		border: none;

		img {
			margin: 0;
		}

	}
}


/*******************************************************************
	HOME / wideCol
*********************************************************************/

.page-template-template-page-accueil {

	.colTitle {
		.make-md-column(8);
		margin-bottom: 2rem;
	}

	.pageText {
		.make-md-column(7);
		margin-bottom: 1rem;
		margin-bottom: 	@grid-gutter-width/2;
	}

	.category-filters {
		.make-md-column(7);
		margin-bottom: 	@grid-gutter-width/2;
	}

	.topIcons {
		.make-md-column(12);
		padding: 0;
	}

	#colonnesContainer {
		.make-md-column(12);
		padding: 0;
	}

	.nouveauProjet {

		width: 	100%;
	  padding: 0;
		display: none;

		textarea {
			.form-control;
			border: 1px solid #ddd;
			width: 	100%;
			margin-bottom: 	15px;
		}
		button {
			width: 	100%;
			border:none;
			border-radius: 0.25em;
			padding: 0 1em;
			margin: 0;
			height: 35px;
			line-height: 36px;

			cursor: pointer;

			text-align: center;
			color: #fff;

			-webkit-font-smoothing: antialiased;

			background-color: @cpublish;

		}
	}


	.colonneswrappers {

		.make-xs-column(12);
		.make-sm-column(6);
		.make-md-column(4);
		.make-lg-column(3);

		float: left;
		vertical-align: top;

		max-height: 700px;
		overflow: hidden;

		min-height: 150px;
		background-color: transparent;

		padding-left: 	0;

		@media @phone-only {
			width: 100%;
			margin: 0;
		}

		.colonnes {
			margin:	@grid-gutter-width/2 0;
			background-color: #fff;
	    border-radius: 2px;
			.bxshd-buttons;
		}

		.js & {
			opacity: 0;
		}
		.js .is-loaded& {
			opacity: 1;
			transition: opacity .5s;
		}

	}

	.post {
		margin: 0;
		width: 100%;
		padding-left: 0;

		.gallery {
			figure {
				width: 100%;
			}
		}
	}

	a:hover, .is-shown {
		.headerProject {
			background-color: fade( @cprivate, 13);
			transition: background-color 0s;
		}
	}

	.thumbnail, .wp-caption {
		margin-bottom: 	0;
	}

	.headerProject, .entry-content, .entry-meta {
		padding: @grid-gutter-width/2;
	}


	.headerProject {
    border-bottom: 1px solid @cgrey;
    transition: background-color .4s .0s ease-in;

		&:hover {
			color: @cprivate;
		}

		.titreProjet {
			cursor: pointer;

			font-size: 24px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0;
		}
	}
	.entry-content {


	}

	.entry-meta {

	}




	.modDate {
		.small;
		color: @cprivate;
		margin-bottom: 	4px;
	}

	.category-list {
		margin-left: -4px;
		.category-term {
			background-color: fade(@cprivate, 10);
			color: @cprivate;
			padding: 2px;
			margin: 2px;

			cursor: pointer;

			text-transform: uppercase;


			&.is-active {
				background-color: @cprivate;
				color: #fff;
			}
		}
	}
	.category-list {


	}
}




/*******************************************************************
	HOME d'un projet : taxProj
*********************************************************************/

.tax-projets {
	.page-header {
		margin: 0;

	}

	.descriptionContainer {

		.make-md-column(12);
	  background-color: #fff;
	  padding-left: @grid-gutter-width/2;
	  padding-right: @grid-gutter-width/2;

		section.post {
			width: 100%;
			margin-left: 0 !important;


			.button-right {
				right: 0;
		    left: auto;

		    .icons {
			  	display: block;
			  }
			}
		}
	}

	.colTitle {
		.make-md-column(8);
		.make-md-column-offset(2);
		margin-bottom: 2rem;
	}

	.pageText {
		.make-md-column(6);
		.make-md-column-offset(2);
		margin-bottom: 1rem;
	}

	.topIcons {
		.make-md-column(10);
		.make-md-column-offset(2);
		padding-left: 	0;
	}

	#colonnesContainer {
		.make-md-column(12);
		padding: 0;
	}


	.projetContainer {

		.post {
			.make-sm-column(9);
			z-index: 10;
		}

		.colTitle {

			h3 {
				margin: 7px;
				font-size: 1.3em;

			}


		}

		.topIcons {
			margin-bottom: 2rem;

			@media @phone-only {

				padding: 4px 2rem;
	  	}
		}

	}

	.viewport {
		height: 800px;
		height: 100vh;
		overflow: scroll;
	}
}

// si pas logged-in /////////////////////////////////////////////////////
.button-right {
	display: none;

	transition: opacity .4s;

}

// si loggedin ///////////////////////////////////////////////////////////
.button-right {

	position: absolute;

	font-size: 0;

	left: 100%;

	margin-top: @grid-gutter-width/2;

	z-index: 1;

	.icons {

		width: 38px;
		height: 38px;

		margin-bottom: @grid-gutter-width/4;
		margin-left: @grid-gutter-width/4;

		overflow: visible;

		transition: all 1s;


		&:hover {
			fill: #4aff93;
		}

		&.is-disabled {
			width: 0px;
			height: 0px;
			opacity: 0;
			padding: 0;
			margin: 0;
			pointer-events: none;
		}

		.remove-post {

		}

	}
}



////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.descriptionContainer {

	.clearfix;
	position: relative;
	top:0;

	margin-bottom: 0;

	transition: margin-bottom .8s ease-out;

	.absence_de_description {
		color: @brand-warning;
		padding: @grid-gutter-width/2 0;
		margin: 0;
	}

}

////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.postContainer {

	position: relative;
	float: left;
	width: 	100%;
	top:0;

	margin-bottom: 0;

	transition: margin-bottom .8s ease-out;

	.clearfix;

	.publish-private-post {
		.make-md-column(11);
		position: absolute;
	}
	.post {
		.make-md-column-offset(2);
		.make-md-column(9);
	}

}

////////////////////////////// toutes les vues ///////////////////////////////////////////////////////////

.post {

	transition: opacity .5s ease-out, margin-left .5s ease, max-height 1s ease-out, padding .5s;

	img {
		max-width: 100%;
		height:auto;
		max-height: 1280px;
		width: auto;

		margin-top: @grid-gutter-width/2;
		margin-bottom: @grid-gutter-width/2;
	}

	.entry-stuff {

		.make-row;
		background-color: transparent;
		transition: box-shadow 1s ease-out, background-color 1s ease-out;

		.is-edition & {
			background-color: #fff;

		}

		.entry-meta {

			.make-sm-column(2);

			text-align: left;
			text-transform: uppercase;

			font-size: 13px;
			text-align: left;
			text-transform: none;

			padding: @grid-gutter-width/2 @grid-gutter-width/2;

			> * {
				display: block;
			}

			.icons {
					width: 24px;
					height: 24px;
					margin-top: @grid-gutter-width/2;
			}
			.categories {

				&.is-disabled {
				 opacity: .4;

					.category-icon {
						cursor: auto;
						path {
						}
					}

				}
				.category-icon {
				}
				.category-list {

					a.category-link {
						display: block;
					}

					.edit-me {

						display: inline-block;
						background-color: @cprivate;
						color: #fff;

						border-radius: 2px;
						cursor: pointer;

						max-height: 0px;
						transition: all .4s;

						overflow: hidden;

						.is-edition & {
							max-height: 20px !important;
							padding: 2px;

						}

					}
				}
			}

			.comments {

				&.is-disabled {
				 opacity: .4;

					.comment-icon {
						cursor: auto;
						path {
							fill: #ccc;
						}
					}

					.comments-link a {
						color: #ccc;
						pointer-events: none;
						cursor: auto;
					}
				}

				.comment-icon {
				}
				.comments-link a {
					color: #2B7EC2;
				}
			}
		}

		.entry-title-and-content {

			.make-sm-column(10);
			padding-top: @grid-gutter-width/2;
			padding-bottom: @grid-gutter-width/2;

			margin: 0;
			border-left: 1px solid #eee;

			min-height: 200px;
			max-height: 8920px;
			overflow: auto;

			.entry-title {

				width: 100%;
				font-size: 3rem;

				margin: 0;
				margin-bottom: 1rem;

				font-weight: 700;

			}

			.fee-content-original {
				display: none;
			}


		}
	}

	// si en cours d'édit
	&.is-edited {

/*
		iframe {

			min-height: 70vh;


		}
*/


		.edit-post {
			transform: rotate(180deg);
		}

		.remove-post {
			display: none;
		}


	}

	&.is-removing {

		pointer-events: none;

		.button-right {
			opacity: 0;
		}

		.entry-stuff {

		}
	}

}

.publish-private-post {

	margin-top: 3px;
	margin-bottom: 3px;

	margin-left: 12.9%;
	margin-left: 0;

	width: 91.6%;

	position: absolute;
	height: 97%;
	height: ~"calc(100% - 6px)";

	border-radius: 5px;
	cursor: pointer;

	overflow: hidden;

	opacity: 0;

	transition: opacity .6s ease-out, background-color .4s ease-out;

/*
	&[data-status=private] {
		border: 1px solid @cpublish;

		&:hover {
//				background-color: @cpublish;
		}
	}
	&[data-status=publish] {
		border: 1px solid @cprivate;

		&:hover {
//				background-color: @cprivate;
		}
	}
*/

	.icons {

		position: relative;
		margin-bottom: 0px;
		margin-bottom: 5px;
		display: block;


		svg {
			overflow: visible;
			height: 38px;
			position: absolute;
		}

		.fond {
			transform-origin: 50% 50%;
			transition: transform .4s ease;
		}
	}


	.mode-switcher:hover {
		.fond {
			transform: scale( 30 );

		}
	}


	.mode-switcher {
		position: absolute;
		width: 20%;
		height: 100%;
		padding: @grid-gutter-width/2;
		text-align: center;

		top: 0;

		.spinner {
			opacity: 0;
			z-index: 	9;
		}
	}


	// celui de gauche
	.private {
		left:0;
		text-align: left;
		color: @cprivate;


		.spinner {
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.icons {
		    margin-left: 0;
		    margin-right: auto;
		}

		.icons svg {
			left: 0;
		}
	}

	// celui de droite
	.publish {
		right: 0;
		text-align: right;
		color: @cpublish;

		.spinner {
			position: absolute;
			right: 0;
			bottom: 0;
		}
		.icons {
		    margin-right: 0;
		    margin-left: auto;
		}

		.icons svg {
			right: 0;
		}

	}

}


// si pas édition
.taxProj {

	.post[data-status=publish] {
		.make-sm-column-offset(2);
	}


	.js & .post[data-status=private] {
		max-height: 0;
		min-height: 0;
		margin: 0;
		opacity: 0;
	}

}



// si vu édition ///////////////////////////////////////////////////////////
.is-edition {

	.switch-edition {
		background-color: @cpublish;
		color: white;
	}
	.button-right {
		display: inline-block;
	}

	.taxProj {

		.postContainer {

			margin-bottom: 55px;

		}


		.entry-stuff {
	/*
			-moz-box-shadow: 3px 1px 15px 1px #cfcfcf;
			-webkit-box-shadow: 3px 1px 15px 1px #cfcfcf;
			-o-box-shadow: 3px 1px 15px 1px #cfcfcf;
			box-shadow: 3px 1px 15px 1px #cfcfcf;
	*/


			box-shadow: 3px 3px 15px 1px #d4d4d4;

		}
		.post[data-status=publish] .entry-stuff {
		    box-shadow: 3px 3px 15px -6px @cpublish;
		}
		.post[data-status=private] .entry-stuff {
		    box-shadow: 3px 3px 15px -6px @cprivate;
		}

		.entry-title-and-content {
			/*border: 2px solid #E6E6E6;*/
		}

		.publish-private-post {
			opacity: 1;
		}

		.post {

			// si privé
			&[data-status=private] {

				opacity: 1;
				max-height: 10024px;
				height: auto;

			}


			&[data-status=private] {

			}
		}
	}
}



/* EDIT FEE */
.fee-toolbar {
	bottom: 0px !important;
	border: none;
	background: transparent;
	box-shadow: none;

	.fee-save {
		visibility: hidden;
	}

	.fee-publish-options {
		visibility: hidden;
	}
}

.wp-core-ui {

/*
	[for="fee-post-status"] {
		display: none;
	}

	[for="fee-post-visibility"] {
		display: none;
	}
*/

}


.embed-responsive {

	.edit-frame {
		background-color: #fff;
	}
}

/*
// BOUTONS PUBLICATIONS

.fee-publish-options-dropdown {
	display: block;
	border: 0;
	background-color: transparent;
	position: fixed;
	top:0;
	right: 10px;
	height:50px;
}

.fee-post-visibility {
	position: absolute;
}

.fee-toolbar {
	border: 0;
	background-color: transparent;
	position: fixed;
	top:40px;
	left:0;
	right: -10px;
	width:130px;
	height: 50px;
}

.fee-toolbar-right .fee-button-categories, .button-group .fee-publish-options,#fee-post-author, #fee-post-status, .dashicons {
	display: none;
}
*/


/************************* COMMENTAIRE ****************************/

#comments {
	display: none;
}

/************************* ICONES ****************************/

.icons {
	width: 38px;
	height: 38px;
	cursor: pointer;
}

.publish-private-post .icons {
  transition: transform .5s ease-out;
  transform: scale(1);
  transform-origin: center center;


}

.is-loading .publish-private-post  {
	.spinner {
		opacity: 1;
	}
	.icons {

	}
}

// tous les posts, partout

.post {

	position: relative;

	.entry-content {
		iframe {
			max-width: 100%;
			max-height: 400px;

		}


	}

	&.hidden {
		display: none;
	}

	a {

		img {
			transition: opacity .4s;
		}

	}

/*
	.edit-frame {
	  min-height: 600px;
	}
*/

}


/*******************************************************************
	APPEL IFRAME : SINGLE
*********************************************************************/


.iframe.single-post {

	padding: 0;
	background-color: #fff;

	.wrap {
		margin-top: 0;
	}

	#doorbell-button {
		display: none;
	}

	.wrap {
		width: 	100%;


	}

	.main {
		margin-top: 0;
		margin-bottom: 80px;
	}

	.navbar {
		display: none;
	}

	.button-right {
		display: none;
	}

	.publish-private-post {
		display: none;
	}

/*
	.entry-meta {
		display: none;
	}
*/

	.post {
		margin:0;
		width: 100%;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
	}

	.entry-title-and-content {

		border: none;

		.entry-title {
			width: 100%;

		}
	}

	.fee-title, .fee-content {
    border-bottom: 1px solid #ccc;
   }

	.fee-button-categories {
		display: none;
	}

	.sidebar {
		display: none;
	}

/*
	&:not(.show-editor) {
		.fee-toolbar {
			display: none;
		}
	}
*/

	#fee-notice-area {
		position: fixed;
		top: 10px;
		right: 0;
		left: auto;
		width: 300px;
		height: 50px;
		z-index: 10000;

		pointer-events: none;
	}

	.fee-url {
		display: none !important;
	}

	.wp-core-ui div.updated {

		body.publish& {
			border-left: 4px solid @cpublish;
			background-color: rgba(69,193,180, .4);
		}
		body.private& {
			border-left: 4px solid @cprivate;
			background-color: rgba(242, 104, 44,.4);
		}
	}

}



/*******************************************************************
	APPEL IFRAME : NEW POST
*********************************************************************/

.new-post, .new-project {

	body& {
		padding:10px 20px;
	}
	.button-right {
		display: block !important;
		right: 0;
		left: auto;

		.icons {
			display: block;
		}

		.edit-post {
			display: none;
		}
	}


	.entry-stuff {
		width: ~"calc(100% - 48px)";
	}

	#fee-notice-area {
		right: 48px !important;
	}
	.fee-toolbar {
		display: none;
	}

}


/*******************************************************************
	TEMPLATE TAG-COLUMN
*********************************************************************/


.page-template-template-tagcolumn-php {
	.main {

		width: 20000px;
		margin-left: 5%;

	  .colonnes {
			display: inline-block;
			width: 400px;
			margin-right: 30px;
			vertical-align: top;

			.page-header {

					border-bottom: 1px solid #fff;
					padding-left: 0;
					margin-left: -13px;
					margin-right: -10px;

					.titreProjet {
						display: inline-block;
					}
					.count {
						display: inline-block;
						.h2;
						color: @cpublish;
						font-size: 23px;
						margin-right: 7px;
						width: 26px;
						text-align: center;
					}
			}

			article {
					padding-bottom: 20px;
					overflow: hidden;
					border-left: 2px solid @cpublish;

	// 					margin-left: -10px;
					padding-left: 20px;
					padding-bottom: 0;

					.entry-title {
					}

			}
		}
	}
}

/*******************************************************************
	Ajax login field
*********************************************************************/
.widget_loginwithajaxwidget {
	h3 {
		margin: 0;
	}
}

.login {
	visibility: hidden;
	//.make-sm-column(6);
}


//champ d'inscription
.lwa-modal {
	z-index: 1202;
	margin-left: 	-200px;

}

// fond assombri
.lwa-modal-bg {
	z-index: 1201;

}
.lwa .lwa-username-label, .lwa .lwa-password-label {
	padding-right: 0;
}

.lwa-password input, .lwa-username input, .lwa-email input, .lwa-remember-email input {
	.form-control;
	width: 	100%;

	input {
		.form-control;
	}
}

td.lwa-username-input , td.lwa-password-input {
	padding-top: 	0;
	padding-bottom: 	10px;

}

// champ dans la navbar
.lwa {

	z-index: 1010;

	border-bottom: 1px solid #E6E6E6;
	background-color: #fff;

/*
	background: #F6F6F6;
	-moz-box-shadow: 1px 1px 10px -1px #656565;
	-webkit-box-shadow: 1px 1px 10px -1px #656565;
	-o-box-shadow: 1px 1px 10px -1px #656565;
	box-shadow: 1px 1px 10px -1px #656565;
*/


	h3 {
		font-size: 1em;
		margin-top: 5px;
		display: none;
	}

	td {
		display: block;
	}

	input[type="submit"] {
		border-radius: 2px;
		border: none;

		border-radius: 0.25em;
		padding: 0 1em;
		margin: 0;
		height: 35px;
		line-height: 36px;

		cursor: pointer;

		text-align: center;
		color: #000;

		-webkit-font-smoothing: antialiased;

		background-color: @cpublish;

		&:focus {
			outline: none;
			color: #fff;
		}

	}

	.lwa-submit > * {
		display: block;
	}

	.lwa-submit-button {
		padding-top: 2px;
	}
	.avatar {
		display: none;
	}

	.lwa-links-remember {
		display: block;
		border-radius: 0.25em;
		padding: 0 1em;
		margin: 0;
		height: 35px;
		line-height: 36px;

		cursor: pointer;

		text-align: center;
		color: #000;

		-webkit-font-smoothing: antialiased;
		background-color: @cgrey;
	}

	.lwa-links-register {
		display: block;
		border-radius: 0.25em;
		padding: 0 1em;
		margin: 0;
		height: 35px;
		line-height: 36px;

		cursor: pointer;

		text-align: center;
		color: #000;

		-webkit-font-smoothing: antialiased;

		background-color: @caction;

	}
}









/*******************************************************************
	FOOTER
*********************************************************************/

.content-info { }
